<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title> Music </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" />
	<!--===============================================================================================-->

	<!--===============================================================================================-->
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection" />
	<link type="text/css" rel="stylesheet" th:href="@{/css/test.css}"  />
</head>

<body>
	<div class="parallax-container">
		<div class="parallax"><img th:src="@{/images/guitar.png}"></div>
	</div>
	
	<div class="section">
		<div class="row valign-wrapper login-box">
			<div class="col s8 pull-s2 ">
				<div class="card indigo lighten-5">
					<span class="card-title center-align"><h1 class="center-align">Registar uma Musica</h1></span>
					<div class="card-content">
						<form th:action="@{/music/insert}" method="POST" th:object="${music}"
							enctype="multipart/form-data">

							<div class="wrap-input100 validate-input" data-validate="Enter titulo">
								<input class="input100" type="text" th:field="*{titulo}" name="titulo"
									placeholder="Titulo">
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="wrap-input100 validate-input" data-validate="Enter autor">
								<input class="input100" type="text" th:field="*{autor}" name="autor"
									placeholder="Autor">
								<span class="focus-input100" data-placeholder="&#xf207;"></span>
							</div>

							<div class="file-field input-field">
								<div class="btn">
									<span>Clique para Selecionar Musica</span>
									<input type="file" name="mp3">
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" style="color:black;" type="text">
								</div>
							</div>

							<div class="container-login100-form-btn">
								<button class="btn btn-large cyan pulse" type="submit">
									Submeter
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="parallax-container">
		<div class="parallax"><img th:src="@{/images/guitar.png}"></div>
	</div>





	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
	<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>

	<script th:src="@{/js/dropzone/dist/dropzone.js}"></script>

	<script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.parallax').parallax();
		  });
	</script>

</body>

</html>