<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title> Main Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}" />
    <!--===============================================================================================-->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/materialize.min.css}" media="screen,projection" />

</head>

<body>

    <section class="aw-layout-content  js-content" layout:fragment="content">


        <script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
    <!--===============================================================================================-->
    <script th:src="@{/js/main.js}"></script>

    <script th:src="@{/js/dropzone/dist/dropzone.js}"></script>

    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.parallax').parallax();
        });
    </script>
    </section>





    
</body>

</html>